.needs-validation {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
}
.js-qr{
    width: 100%;
    max-width: 300px;
    padding: 15px;
    margin: auto;
}
pre code {
    display: block;
}
pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}
code {
    background: #eee;
    padding: 3px 10px;
    border-radius: 5px;
    margin-left: 10px;
}
.logo{
    max-width: 400px;
}
.media {
    display: flex;
    align-items: center;
    height: 100%;
}